*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c8cacc;
    color: rgb(33, 37, 41);
    align-items: center;
}

header{
    background-image: url("imagens/capalinux.png");
    background-size: cover;
    background-position:center;
    height: 400px; 
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
    padding-top: 50px;
    text-align: center;
    font-size: 80px;
    line-height: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
}

#deh{
    margin: 60px 30px 20px;
    border-radius: 100%;
    float: left;
}

#name{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    text-align: center; 
}

#section-about{
    color: bisque;
    font-size: 18px;
    padding-top: 120px;
    padding-right: 60px;
}

#list_skill, #list_link, #list_itens{
    padding: 20px 30px 20px 30px;
}

.skill{
    display: inline-block;
}

.item, .skill{
    padding-left: 30px;
    font-size: 20px;
    text-decoration: none;
}

#list_skill{
    padding: 50px;
}

.local{
    display: inline-block;
    background-color: rgb(168, 165, 165);
    border: 2px black solid;
    padding: 25px;
    margin-left: 30px;
}





